:root {
	--rosa-1: #BE5082;
	--rosa-2: #FF96C8;
	--rosa-3: #FFF0F0;
	--preto-1: #323232;
	--preto-2: #5A5A5A;
	--preto-3: #B4B4B4;
}

* {
	font-family: "Myriad Pro Regular";
}

a:hover {
	text-decoration: none;
}

body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
	font-family: "Ampera";
}

.bg-rosa1 {background: var(--rosa-1) !important;}
.bg-rosa2 {background: var(--rosa-2) !important;}
.bg-rosa3 {background: var(--rosa-3) !important;}
.bg-preto1 {background: var(--preto-1) !important;}
.bg-perto2 {background: var(--preto-2) !important;}
.bg-preto3 {background: var(--preto-3) !important;}
.bg-branco {background: var(--preto-3) !important;}

.rosa1 {color: var(--rosa-1) !important;}
.rosa2 {color: var(--rosa-2) !important;}
.rosa3 {color: var(--rosa-3) !important;}
.preto1 {color: var(--preto-1) !important;}
.perto2 {color: var(--preto-2) !important;}
.preto3 {color: var(--preto-3) !important;}

.header {
	padding: 10px;
}

section {
	padding: 100px !important;
}

.section {
	padding: 100px !important;
}

.btn-radius {
	border-radius: 50px;
}

.nav-item {
	padding: 12px 60px;
    color: white;
}

.nav-item:hover {
    color: white;
    background: var(--rosa-1);
    transition: 1s all;
    text-decoration: none;
    border-radius: 30px;
}

.nav-item.active {
	color: var(--rosa-1);
    background: var(--rosa-3);
    border-radius: 30px;
}

@media only screen and (max-width: 600px) {
	.nav-item {
		padding: 12px 40px;
	}
}
@media only screen and (max-width: 450px) {
	.nav-item {
		padding: 12px 20px;
	}
}

.circle {
	width: 150px;
	height: 150px;
	background: var(--rosa-1);
	border-radius: 50%;
	margin: 0 auto;
}

.circle-p {
	width: 30px;
	height: 30px;
	background: var(--rosa-1);
	border-radius: 50%;
	margin: 0 auto;
	float: right;
}

.py-20 {background-position-y: -20px;}
.px-100 {background-position-x: -100px;}
.px-150 {background-position-x: -150px;}

.bg-img {
	height: 500px;
	background-size: cover;
    background-repeat: no-repeat;
}

.bg-03 {
	background-image: url("../img/img03.jpg");
}

.bg-04 {
	background-image: url("../img/img04.jpg");
}

.bg-05 {
	background-image: url("../img/img05.jpg");
}

.bg-08 {
	background-image: url("../img/img08.jpg");
}

.img-footer {
	width: 50px;
}

.logo-header {
	width: 300px;
}
